<div class="empty-node" v-on:click="onClicked">
    <svg t="1674484885412" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6361" width="20" height="20"><path d="M511.99 960.22C264.84 960.22 63.77 759.15 63.77 512S264.84 63.78 511.99 63.78 960.23 264.85 960.23 512 759.14 960.22 511.99 960.22z m0-823.81C304.88 136.41 136.4 304.89 136.4 512s168.48 375.59 375.59 375.59c207.13 0 375.61-168.48 375.61-375.59S719.12 136.41 511.99 136.41z" fill="#EE7F51" p-id="6362" data-spm-anchor-id="a313x.7781069.0.i3" class="selected"></path></svg>
    <template v-for="(anchor, i) in shape.anchors">
        <a class="empty-node-anchor-arrow" v-bind:class="{ active: $parent.connectFrom == anchor, connecting: $parent.mode == 'connect' }" v-on:click="link(anchor)" pomelo-wf-anchor v-bind:style="'color: ' + shape.diagram.connectPolylines.filter(x => x.getDestinationAnchor() == anchor)[0].getColor()" v-if="shape.diagram.connectPolylines.some(x => x.getDestinationAnchor() == anchor)" v-bind:style="`top: ${anchor.yPercentage * 100}%; left: ${anchor.xPercentage * 100}%; transform: rotate(${90 * i}deg);`">▼</a>
        <a class="empty-node-anchor" v-bind:class="{ active: $parent.connectFrom == anchor, connecting: $parent.mode == 'connect' }" v-on:click="link(anchor)" pomelo-wf-anchor v-else-if="active || $parent.mode == 'connect'" v-bind:style="`top: ${anchor.yPercentage * 100}%; left: ${anchor.xPercentage * 100}%`"></a>
    </template>
    <div class="empty-node-settings" v-if="active && !$parent.dragStart">
        <div class="empty-node-settings-header">
            <svg t="1674484885412" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6361" width="20" height="20"><path d="M511.99 960.22C264.84 960.22 63.77 759.15 63.77 512S264.84 63.78 511.99 63.78 960.23 264.85 960.23 512 759.14 960.22 511.99 960.22z m0-823.81C304.88 136.41 136.4 304.89 136.4 512s168.48 375.59 375.59 375.59c207.13 0 375.61-168.48 375.61-375.59S719.12 136.41 511.99 136.41z" fill="#EE7F51" p-id="6362" data-spm-anchor-id="a313x.7781069.0.i3" class="selected"></path></svg>
            <span>Empty</span>
        </div>
        <div class="empty-node-settings-body">
            <div class="empty-node-settings-body-section-title">Name</div>
            <div><input class="empty-node-settings-body-textbox" v-model="shape.name" placeholder="Please input name..." /></div>
        </div>
        <div class="empty-node-settings-footer">
            <a class="empty-node-settings-footer-button" v-on:click="blur">OK</a>
        </div>
    </div>
</div>