.pipeline-diagram-panel {
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 81px;
    right: 0;
    background: #fff;
    overflow: auto;
}

.pipeline-diagram-node-menu {
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 0;
    width: 80px;
    background: #fcfcfc;
    border-right: 1px solid #ddd;
    text-align: center;
}

.pipeline-diagram-node-item {
    display: block;
    color: #777;
    cursor: pointer;
    margin: 8px 0;
}

    .pipeline-diagram-node-item > * {
        vertical-align: middle;
        font-size: 16px;
    }

    .pipeline-diagram-node-item > svg {
        height: 32px;
        width: 32px;
    }

    .pipeline-diagram-node-item > span {
        font-size: 12px;
        display: block;
    }

.pomelo-wf-diagram {
    position: relative !important;
    overflow: initial;
}

.pipeline-diagram-menu {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    padding: 0 10px;
}


.pipeline-diagram-menu-button {
    padding: 0 8px;
    cursor: pointer;
    display: inline-block;
    color: #666;
}

    .pipeline-diagram-menu-button svg {
        width: 22px;
        height: 22px;
        vertical-align: middle;
    }

        .pipeline-diagram-menu-button svg path {
            fill: #666;
        }

    .pipeline-diagram-menu-button span {
        vertical-align: middle;
        margin-left: 5px;
    }

    .pipeline-diagram-menu-button:hover, .pipeline-diagram-menu-button.active {
        background: #FA9F32;
        color: #fff;
    }

        .pipeline-diagram-menu-button:hover svg path, .pipeline-diagram-menu-button.active svg path {
            fill: #fff;
        }

.pipeline-diagram-menu-right {
    float: right;
}

.pipeline-diagram-version-selector {
    padding: 0 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 30px;
    height: 26px;
    min-width: 60px;
    color: #777;
    outline: 0;
}

.pipeline-diagram-menu-button.disabled {
    opacity: 0.5;
}


    .pipeline-diagram-menu-button.disabled:hover, .pipeline-diagram-menu-button.disabled.active {
        background: none;
        color: #777;
    }

    .pipeline-diagram-menu-button.disabled:hover svg path, .pipeline-diagram-menu-button.active svg path {
        fill: #777;
    }

#step-config-container {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fcfcfc;
}

.pipeline-diagram-node-item:hover, .pipeline-diagram-node-item.active {
    background: #FA9F32;
    color: #fff;
}

    .pipeline-diagram-node-item:hover svg, .pipeline-diagram-node-item:hover svg path, .pipeline-diagram-node-item.active svg, .pipeline-diagram-node-item.active svg path{
        fill: #fff;
    }