<div class="stage-node" v-on:click="onClicked">
    <span class="stage-node-title">{{ shape.name || 'Stage' }}</span>
    <template v-for="(anchor, i) in shape.anchors">
        <a class="stage-node-anchor-arrow" v-bind:class="{ active: $parent.connectFrom == anchor, connecting: $parent.mode == 'connect' }" v-on:click="link(anchor)" pomelo-wf-anchor v-bind:style="'color: ' + shape.diagram.connectPolylines.filter(x => x.getDestinationAnchor() == anchor)[0].getColor()" v-if="shape.diagram.connectPolylines.some(x => x.getDestinationAnchor() == anchor)" v-bind:style="`top: ${anchor.yPercentage * 100}%; left: ${anchor.xPercentage * 100}%; transform: rotate(${90 * i}deg);`">▼</a>
        <a class="stage-node-anchor" v-bind:class="{ active: $parent.connectFrom == anchor, connecting: $parent.mode == 'connect' }" v-on:click="link(anchor)" pomelo-wf-anchor v-else-if="active || $parent.mode == 'connect'" v-bind:style="`top: ${anchor.yPercentage * 100}%; left: ${anchor.xPercentage * 100}%`"></a>
    </template>
    <div class="stage-node-settings" v-if="settingsActive">
        <div class="stage-node-settings-header">
            <svg t="1674462046730" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9571" width="20" height="20"><path d="M789.333333 532.138667a64 64 0 0 1 64 64v194.389333a64 64 0 0 1-64 64h-194.368a64 64 0 0 1-64-64v-194.389333a64 64 0 0 1 64-64H789.333333z m0 64h-194.368v194.389333H789.333333v-194.389333z m-436.16-64.021334v137.514667L490.666667 669.610667v64h-137.472a64 64 0 0 1-64-64l-0.021334-137.472 64-0.021334zM426.666667 169.472a64 64 0 0 1 64 64v194.389333a64 64 0 0 1-64 64h-194.368a64 64 0 0 1-64-64v-194.389333a64 64 0 0 1 64-64H426.666667z m241.770666 120.896a64 64 0 0 1 64 64v137.472l-64-0.021333v-137.450667h-137.493333v-64h137.493333zM426.666667 233.472h-194.368v194.389333H426.666667v-194.389333z" fill="#EE7F51" p-id="9572" data-spm-anchor-id="a313x.7781069.0.i4" class="selected"></path></svg>
            <span>Stage</span>
        </div>
        <div class="stage-node-settings-body">
            <div class="stage-node-settings-body-section">
                <div class="stage-node-settings-body-section-title">Name</div>
                <div><input class="stage-node-settings-body-textbox" v-model="shape.name" placeholder="Please input name..." /></div>
            </div>

            <div class="stage-node-settings-body-section">
                <div class="stage-node-settings-body-section-title">Stage</div>
                <div>
                    <select class="stage-node-settings-body-textbox" v-model="shape.arguments.StageWorkflowId">
                        <option v-bind:value="null">Not selected</option>
                        <option v-for="stage in stages" v-bind:value="stage.workflowId">{{ stage.workflow.name }}</option>
                    </select>
                </div>
            </div>

            <div class="stage-node-settings-body-section">
                <b>{{ localization().sr('PIPELINE_EDIT_PLAYBOOK_ISOLATION_LEVEL') }}</b>
                <radio-button v-model="shape.arguments.IsolationLevel" value="Sequential" v-bind:title="localization().sr('PIPELINE_EDIT_PLAYBOOK_ISOLATION_LEVEL_SEQUENTIAL')" v-bind:hint="localization().sr('PIPELINE_EDIT_PLAYBOOK_ISOLATION_LEVEL_SEQUENTIAL_HINT')"></radio-button>
                <radio-button v-model="shape.arguments.IsolationLevel" value="Parallel" v-bind:title="localization().sr('PIPELINE_EDIT_PLAYBOOK_ISOLATION_LEVEL_PARALLEL')" v-bind:hint="localization().sr('PIPELINE_EDIT_PLAYBOOK_ISOLATION_LEVEL_PARALLEL_HINT')"></radio-button>
            </div>

            <div class="stage-node-settings-body-section" v-if="shape && shape.arguments">
                <div class="stage-node-settings-body-section-title">{{ localization().sr('PIPELINE_EDIT_PLAYBOOK_AGENT_POOL') }}</div>
                <div class="agent-pool-selector-link" v-if="!shape.arguments.AgentPoolId" v-on:click="showAgentSelector = true">{{ localization().sr('PIPELINE_EDIT_PLAYBOOK_AGENT_POOL_CLICK') }}</div>
                <div class="agent-pool-selector-link selected" v-else-if="agentPool" v-on:click="showAgentSelector = true">{{ (agentPool && agentPool.name) || stage.agentPoolId }}</div>
            </div>

            <div class="stage-node-settings-body-section" v-if="shape && shape.arguments">
                <div class="stage-node-settings-body-section-title">{{ localization().sr('PIPELINE_EDIT_PLAYBOOK_AGENT_COUNT') }}</div>
                <input-number v-model="shape.arguments.AgentCount" min="1"></input-number> <span class="agent-count-hint" v-if="agentPool">({{ localization().sr('PIPELINE_EDIT_PLAYBOOK_AGENT_COUNT_HINT', agentPool.agents.length) }})</span>
            </div>
        </div>
        <div class="stage-node-settings-footer">
            <a class="stage-node-settings-footer-button" v-on:click="blur">OK</a>
        </div>
    </div>
</div>

<agent-pool-selector v-model:visible="showAgentSelector"
                     v-bind:projectId="projectId"
                     v-if="shape"
                     v-model="shape.arguments.AgentPoolId">
</agent-pool-selector>